<div class="row col-row">
  <code class="row-key">{{index .Attributes "name"}}</code>
  <span class="mono col-type">{{index .Attributes "type"}}</span>
  <span class="col-flags">
    {{if index .Attributes "pk"}}<span class="status status-pk">PK</span>{{end}}
    {{if index .Attributes "not_null"}}<span class="meta-chip">not null</span>{{end}}
    {{if index .Attributes "unique"}}<span class="meta-chip">unique</span>{{end}}
    {{if index .Attributes "increment"}}<span class="meta-chip">increment</span>{{end}}
    {{with index .Attributes "default"}}<span class="meta-chip mono">default: {{.}}</span>{{end}}
  </span>
  <span class="row-note">{{.Content}}</span>
</div>
